#logout-form {
	display: none;
}

.admin-menu {
	display: flex;
	list-style: none;
	font-style: normal;
	
	li {
		margin-left: 0;
		margin-right: 10px;
	}

	&__logout {
		margin: 0 !important;
		margin-left: auto !important;
	}
}