/* General site styles */

$primary-color: #942722;
$primary-color-darker: #692722;

body {
    font: 15px 'Helvetica', sans-serif;
    line-height: 1.7;

    color: #333;
    background-color: #fefefe;
    font-weight: 300;
    border-top: 5px solid $primary-color;
}

.main-container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
}

p {
    margin-bottom: 14px;
}

h1,h2,h3 {
    color: $primary-color;
    font-weight: 500;
}

a {
    color: $primary-color;
    text-decoration: none;
}

li {
    list-style-position: outside;
    margin-left: 20px;
}

a:hover {
    color: $primary-color-darker;
}

.btn {
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: $primary-color;
    border: none;
    cursor: pointer;

    &__small {
        font-size: 12px;
        padding: 2px 8px;
    }
}

.btn:hover {
    color: white;
    background-color: $primary-color-darker;
}

input[type=text], input[type=password], textarea, select {
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 6px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: inset 1px 1px 1px #e1e1e1;
    width: 100%;
}

select {
    height: 27px;
}

.table {
    width: 100%;

    th {
        text-align: left;
    }
}

textarea {
    width: 100%;
    max-width: 100%;
}

blockquote {
    margin: 0 10px;
    border-left: 5px solid black;
    padding-left: 10px;
}

strong {
    font-weight: bold;
}

h1 small {
    font-size: 12px;
}

table {
    width:100%;
    border-collapse: collapse;
    margin-bottom:20px;
}

td,th {
    text-align:center;
    border: 1px solid #ddd;
}

th {
    font-weight:bold;
    background-color:#e8e8e8;
}

.dark-theme {
    th {
        background-color:#e8e8e80a;
    }
}