@import "resets";
@import "base";
@import "icons";
@import "admin";
@import "layout";
@import "helpers";
@import "monokai-sublime";

.header {
	width: 100%;
	overflow: hidden;
	background-color: #f2f2f2;
	border-bottom: 1px solid #dadada;
	margin-bottom: 10px;

	&__breadcrumb {
		font-weight: bold;
		font-size: 30px;
		line-height: 50px;
		float: left;

		i {
			vertical-align: top;
		}
	}

	&__brand {
		vertical-align: top;
	}

	&__lead {
		font-style: italic;
		font-size: 18px;
		margin-bottom: 10px;
		clear: both;
	}

	.icon-right-open {
		font-size: 20px;
	}
}

.header__dropdown {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;

	.arrow {
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid black;
		margin: 10px 5px;
	}

	&--opened .arrow {
		border-top: 6px solid transparent;
		border-bottom: 6px solid black;

		position: relative;
		top: -4px;
	}
}

#theme-toggle {
	line-height: 50px;
	float: right;
	font-size: 20px;
	cursor: pointer;
}

#quick-category-switcher {
	display: none;

	a {
		display: block;
	}
}

.post-listing {
	margin-bottom: 30px;

	&__title {
		color: black;
		font-size: 30px;
		line-height: 42px;

		&:hover {
			color: $primary-color;
		}
	}

	&__meta {
		color: #888;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 12px;
	}

	&__snippet {
		font-size: 16px;
		color: #666;
		margin-bottom: 20px;
	}
}

.pagination {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;

	li {
		margin-left: 0;

		a {
			display: block;
    		line-height: 1;
		} 
	}

	.older {
		float: right;
	}

	.newer {
		float: left;
	}
}

.footer {
	background-color: #f2f2f2;
	margin-top: 20px;
	padding: 20px 0;
	width: 100%;
	overflow: hidden;

	&__icons {
		list-style: none;
		font-size: 30px;
		float: left;

		li {
			display: inline;
			margin-left: 0;
		}
	}

	&__built-with {
		text-align: right;
		line-height: 50px;
		margin-bottom: 0;
	}
}

.hljs {
	margin: 20px 0;
}

.post {
	&__title {
		line-height: 1.5;
		font-size: 28px;
	}

	&__meta {
		color: #888;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 14px;
	}

	&__excerpt {
		font-size: 18px;
		margin-bottom: 20px;
	}

	&__body {
		margin-bottom: 20px;

		p, ul {
			margin-bottom: 14px;
		}
	}

	table {
		width:100%;
		border-collapse: collapse;
		margin-bottom:20px;
	}
	
	td,th {
		text-align:center;
		border: 1px solid #ddd;
	}
	
	th {
		font-weight:bold;
		background-color:#e8e8e8;
	}
}

@media (max-width: 450px) {

	.post-listing {
		&__title {
			font-size: 24px;
			line-height: 32px;
		}

		&__meta {
			font-size: 12px;
		}

		&__snippet {
			font-size: 16px;
		}

		&__read-more {
			display: block;
			text-align: center;
			font-size: 14px;
		}
	}

	.header {
		&__lead {
			font-size: 16px;
		}
	}
}

@media (max-width: 699px) {
	.footer {
		&__icons {
			text-align: center;
			margin-bottom: 10px;
			float: none;
		}

		&__built-with {
			text-align: center;
			line-height: 1.7;
		}
	}
}

.dark-theme {
	background-color: #20262e;
	color: #d1d1d1;

	.header {
		background-color: #1e2227;
		border-bottom-color: #121518;
	}

	.header__breadcrumb, .header__brand {
		color: #efefef;
	}

	.header__dropdown .arrow {
		border-top: 6px solid #efefef;
	}

	.header__dropdown--opened .arrow {
		border-bottom: 6px solid #efefef;
		border-top: 6px solid transparent;
	}

	.post-listing {
		&__title {
			color: #efefef;
		}
	
		&__meta {
			color: #dedede;
		}
	
		&__snippet {
			color: #cfcfcf;
		}
	}

	.footer {
		background-color: #1e2227;
	}

	.post {
		&__meta {
			color: #888
		}

		th {
			background-color:#e8e8e80a;
		}
	}

	#disqus_thread {
		background-color: white;
    	padding: 0 10px;
    	border-radius: 4px;
	}
}